*/Project 01/figures/*
*/Project 01/data/*
*/Project 01/.vscode/*

*/Project 02/figures/*
*/Project 02/data/*
*/Project 02/.vscode/*
*/Project 02/Questions.txt*

/Project 01/figures/*
/Project 01/data/*
/Project 01/.vscode/*

/Project 02/figures/*
/Project 02/data/*
/Project 02/.vscode/*
/Project 02/Questions.txt*